<div class="center hero-unit">
  <h1>Welcome to Booksharing! </h1>

  <h2>
    We're here to fill your life with the pleasure and adventure of books coupled with the joy of sharing. After all, a book isn't just a pound of paper, ink, and glue -- it's one of the truest opportunities for discovery and meaning and even a whole new life. </br> </br>

    <a href="http://railstutorial.org/">Booksharing</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>